.widthVideo {
    width: 70%;
}

.InfoVideo {
    display: flex;
    justify-content: center;
    height: 100%;
}

.transcripcion {
    height: 300px;
    width: 60%;
	border: 1px solid #ddd;
    border-radius: 50px;
	overflow-y: scroll;
    margin: 30px auto;
    padding:30px;
    text-align: justify;
}

.InfoPreguntasSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding-bottom: 6em;
}

.InfoButton {
    color: #fff;
    padding: 10px;
    background: cornflowerblue;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
}

.InfoTranscription {
    padding: 60px 0;
    border-radius: 2px;
}

.InfoEscenario {
    padding: 50px 0;
}

.InfoCliente {
    color: rgb(219, 54, 123);
    text-transform: uppercase;
}